/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-bg-color: #e6c9b8;
  --secondary-bg-color: #b08677;
  --text-color: #fff;
  --accent-color: #78ea1a;
  --secondary-accent-color: #ff6c45;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary-bg-color)!important;
  color: var(--text-color) !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
@media (max-width: 810px) {
  nav.navbar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
  }
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--secondary-bg-color);
}
nav.navbar a.navbar-brand {
    width: 5%;
}
nav.navbar a.navbar-brand img {
  padding-top: 5px;
  padding-bottom: 5px;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--text-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a #thangs-logo{
  width: 80%;
}
.social-icon a img {
	width: 50%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  width: 60%;
}
.social-icon a:hover #thangs-logo {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  width: 100%;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-image: url('./assets/img/banner-bg.JPG');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .scrolling-background {
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/background-scrolling.png');
  background-repeat: repeat-x;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-shadow: 1px 1px 2px black, 0 0 25px #f2e0d5, 0 0 5px #be8f7eb4;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  text-shadow: 
    0 .005em 0 #ccc, 
    0 .01em 0 #c9c9c9, 
    0 .015em 0 #bbb, 
    0 .02em 0 #b9b9b9, 
    0 .025em 0 #aaa, 
    0 .03em .005em rgba(0,0,0,.1), 
    0 0 .025em rgba(0,0,0,.1), 
    0 .005em .015em rgba(0,0,0,.3), 
    0 .015em .025em rgba(0,0,0,.2), 
    0 .025em .05em rgba(0,0,0,.25), 
    0 .05em .05em rgba(0,0,0,.2), 
    0 .1em .1em rgba(0,0,0,.15);
}
.banner p {
  color: var(--text-color);
  background: rgba(125,97,87,0.5);
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  max-width: 80%;
  padding-left: 10px;
  width: 96%;
}

.banner button {
  background: rgba(125,97,87,0.5);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button {
  text-decoration: none;
  cursor:pointer;
  position:relative;
  padding:10px 20px;
  font-size:28px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  transition:all 1s;
  &:after,&:before{
    content:" ";
    width:10px;
    height:10px;
    position:absolute;
    border :0px solid #fff;
    transition:all 1s;
    }
  &:after{
    top:-1px;
    left:-1px;
    border-top:5px solid black;
    border-left:5px solid black;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid black;
    border-right:5px solid black;
  }
  &:hover{
    border-top-right-radius:0px;
  border-bottom-left-radius:0px;
    background:rgba(0,0,0,.5);
    color:white;
    &:before,&:after{
      
      width:100%;
      height:100%;
      border-color:white;
    }
  }
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
@media (max-width: 810px) {
  .banner{
    padding: 130px 0 50px 0;
  }
  .banner h1{
    min-height: 140px; 
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  text-shadow: 
    0 .005em 0 #ccc, 
    0 .01em 0 #c9c9c9, 
    0 .015em 0 #bbb, 
    0 .02em 0 #b9b9b9, 
    0 .025em 0 #aaa, 
    0 .03em .005em rgba(0,0,0,.1), 
    0 0 .025em rgba(0,0,0,.1), 
    0 .005em .015em rgba(0,0,0,.3), 
    0 .015em .025em rgba(0,0,0,.2), 
    0 .025em .05em rgba(0,0,0,.25), 
    0 .05em .05em rgba(0,0,0,.2), 
    0 .1em .1em rgba(0,0,0,.15);
}
.skill p {
    color: var(--text-color);
    background: rgba(125,97,87,0.5);
    font-size: 18px;
    max-width: 500px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  animation: pulse 5s linear infinite;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.skills-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill .scrolling-background {
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/background-scrolling.png');
  background-repeat: repeat-x;
  animation: scroll 30s linear infinite;
}

/************ Tooltip Css ************/
.image-container {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tooltip {
  display: none;
  width: max-content;
  background: rgba(125,97,87,0.5);
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  z-index: 10;
}
.image-container:hover .tooltip {
  display: block;
  opacity: 1;
}
.proj-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .image-container{
    background: rgba(125,97,87,0.5);
    padding: 2px;
  }
}
/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
}
.project a {
  text-decoration: none;
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px #f2e0d5, 0 0 5px #be8f7eb4;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  text-shadow: 
    0 .005em 0 #ccc, 
    0 .01em 0 #c9c9c9, 
    0 .015em 0 #bbb, 
    0 .02em 0 #b9b9b9, 
    0 .025em 0 #aaa, 
    0 .03em .005em rgba(0,0,0,.1), 
    0 0 .025em rgba(0,0,0,.1), 
    0 .005em .015em rgba(0,0,0,.3), 
    0 .015em .025em rgba(0,0,0,.2), 
    0 .025em .05em rgba(0,0,0,.25), 
    0 .05em .05em rgba(0,0,0,.2), 
    0 .1em .1em rgba(0,0,0,.15);
}
.project p {
  color: var(--text-color);
  font-size: 18px;
  background: rgba(125,97,87,0.5);
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgb(120,234,26);
    background: -moz-linear-gradient(90deg, rgba(120,234,26,1) 0%, rgba(107,205,26,1) 31%, rgba(82,148,27,0.8337534843038779) 100%);
    background: -webkit-linear-gradient(90deg, rgba(120,234,26,1) 0%, rgba(107,205,26,1) 31%, rgba(82,148,27,0.8337534843038779) 100%);
    background: linear-gradient(90deg, rgba(120,234,26,1) 0%, rgba(107,205,26,1) 31%, rgba(82,148,27,0.8337534843038779) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#78ea1a",endColorstr="#52941b",GradientType=1); 
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-projects-1 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-projects-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-projects-3 {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  background: rgba(125,97,87,0.5);
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
  height: 300px;
}
.proj-imgbx img{
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
  display: block;
}
.proj-imgbx::before {
  content: "";
  background: rgb(154,53,53);
  background: -moz-radial-gradient(circle, rgba(154,53,53,0.9682072658164829) 0%, rgba(255,108,69,0.7245097868248862) 100%);
  background: -webkit-radial-gradient(circle, rgba(154,53,53,0.9682072658164829) 0%, rgba(255,108,69,0.7245097868248862) 100%);
  background: radial-gradient(circle, rgba(154,53,53,0.9682072658164829) 0%, rgba(255,108,69,0.7245097868248862) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a3535",endColorstr="#ff6c45",GradientType=1); 
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  color: #fff;
}
.proj-txtx h4, .proj-txtx p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: #fff;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  animation: pulse 6s linear infinite;
  z-index: -4;
}
.row {
  justify-content: center;
}
.project .scrolling-background {
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/background-scrolling-2.png');
  background-repeat: repeat-x;
  animation: scrollR 30s linear infinite;
}
@keyframes scrollR {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

/************ Contact Css ************/
.contact {
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6C9B8", endColorstr="#BE8F7E", GradientType=1 );
  padding: 60px 0 200px 0;
}
.contact .contact-side-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact p{
  background: rgba(125,97,87,0.5);
  padding-left: 10px;
}
.contact img {
  width: 92%;
  animation: pulse 3s linear infinite;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 
    0 .005em 0 #ccc, 
    0 .01em 0 #c9c9c9, 
    0 .015em 0 #bbb, 
    0 .02em 0 #b9b9b9, 
    0 .025em 0 #aaa, 
    0 .03em .005em rgba(0,0,0,.1), 
    0 0 .025em rgba(0,0,0,.1), 
    0 .005em .015em rgba(0,0,0,.3), 
    0 .015em .025em rgba(0,0,0,.2), 
    0 .025em .05em rgba(0,0,0,.25), 
    0 .05em .05em rgba(0,0,0,.2), 
    0 .1em .1em rgba(0,0,0,.15);
}
.contact form input, .contact form textarea {
  width: 100%;
  background: hsla(22, 48%, 81%, 1);
  background: linear-gradient(135deg, hsla(22, 48%, 81%, 1) 0%, hsla(16, 33%, 62%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(22, 48%, 81%, 1) 0%, hsla(16, 33%, 62%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(22, 48%, 81%, 1) 0%, hsla(16, 33%, 62%, 1) 100%);
  border: 1px solid #a18453e0;
  border-radius: 15px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  background-color: #000000; /* unified background color */
  border: none; /* removing any borders */
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--text-color, #fff); /* default fallback color white */
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px; /* unified font size */
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 25px;
  margin-left: 10px;
  padding: 14px 48px;
  position: relative;
  transition: all 1s ease-in-out; /* unified transition */
}

.contact form button::before,
.contact form button::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid #fff; /* starting state has no border */
  transition: all 1s ease-in-out;
}

.contact form button::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.contact form button::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.contact form button:hover {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.contact form button:hover::before,
.contact form button:hover::after {
  width: 100%;
  height: 100%;
  border-color: white;
}

.contact form button span {
  z-index: 1;
  position: relative;
}


/************ Footer Css ************/
.footer {
  background-color: var(--secondary-bg-color);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer #footer-logo{
  width: 50px;
  margin-top: 20px;
}
.footer p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
}
.footer .social-icon{
  display: flex;
  margin-top: 20px;
  align-content: center;
  justify-content: right;
}
@media (max-width: 767px) {
  .footer{
    max-height: min-content;
  }
  .footer .container{
    max-height: 200px;
  }
  .footer #footer-logo{
    width: 50px;
  }
  .footer .social-icon{
    display: flex;
    align-content: center;
    justify-content: right;
    margin-bottom: 20px;
  }
}